{% extends "base.html" %}

{% block title_head %}
    <title>Acerca de nosotros</title>
{% endblock title_head %}

{% block h1_header %}
    Acerca de nosotros
{% endblock h1_header %}

{% block main %}
    <h1>¡Bienvenido/a a nuestra biblioteca!</h1>
    <br>
    <h3>¿Quiénes Somos?</h3>
    <p>             
        Somos amantes de la lectura y creemos en el poder de compartir conocimiento y experiencias. En esta biblioteca ofrecemos un espacio virtual para explorar el mundo de los libros.
    </p>
    <h3>Nuestra Misión</h3>
    <strong>Promover la Lectura:</strong>
    <p>
        Creemos que cada libro es una puerta a un nuevo mundo. Queremos inspirar a más personas a sumergirse en la magia de la lectura.
    </p>
    <strong>Comunidad Literaria:</strong>
    <p>
        Fomentamos la conexión entre lectores. Acá, podes compartir tus libros favoritos, descubrir nuevas joyas literarias y conectarte con otros usuarios.
    </p>
    <strong>Reseñas Auténticas:</strong>
    <p>
        Tu opinión importa. Proporcionamos un espacio para que expreses tus ideas y emociones sobre los libros que has leído.
    </p>
    <h3>¿Qué Ofrecemos?</h3>
    <strong>Registro de Libros:</strong>
    <p>Añade tus libros favoritos y comparte tus reseñas con la comunidad.</p>
    <strong>Comunicación Directa:</strong>
    <p>Conéctate con otros lectores e intercambia recomendaciones.</p>
    <h3>Únete a Nuestra Comunidad</h3>
    <strong>Crea tu Cuenta:</strong>
    <p>Regístrate para acceder a todas las funciones y ser parte de nuestra comunidad.</p>
    <strong>Explora y Descubre:</strong>
    <p>Sumérgite en nuestra colección de libros y encuentra tu próxima lectura favorita.</p>
    <strong>Conéctate:</strong>
    <p>¡No estás solo/a en tu viaje literario! Conéctate con otros lectores y comparte tu pasión.</p>
    <br>
    <strong>¡Gracias por ser parte de nuestra comunidad!</strong>
{% endblock main %}