{% extends "base.html" %}
{% block title_head %}
<title>Autores</title>
{% endblock title_head %}

{% block h1_header %}
Autores
{% endblock h1_header %}
{% block main %}
<p>
    <a href={% url "crear_autores" %}>Crear Autor</a>
</p>
<form action="">
    {% csrf_token %}
    {{formulario}}
    <input type="submit" value="Buscar">
</form>
{% if listado_autores %}
        <ul>
            {% for autor in listado_autores %}
                <li>{{ autor.nombre }} - {{ autor.nacionalidad }}</li>
            {% endfor %}
        </ul>
    {% else %}
<p>No se encontraron autores</p>
{% endif %}
{% endblock main %}

