{% extends "base.html" %}
{% load static %}
{% block title_head %}
    <title>Registrar Libro</title>
{% endblock title_head %}

{% block h1_header %}
    Registrar Libro
{% endblock h1_header %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data" onsubmit="return validateImageSize(this.portada)">
        {% csrf_token %}
        
        <div>
            {{ form.titulo.label_tag }}
            {{ form.titulo }}
        </div>

        <div>
            {{ form.autor.label_tag }}
            {{ form.autor }}
            {{ form.autor.errors }}
        </div>

        <div>
            {{ form.editorial.label_tag }}
            {{ form.editorial }}
            {{ form.editorial.errors }}
        </div>

        <div>
            {{ form.fecha_de_publicacion.label_tag }}
            {{ form.fecha_de_publicacion }}
            {{ form.fecha_de_publicacion.errors }}
        </div>

        <div>
            {{ form.hojas.label_tag }}
            {{ form.hojas }}
            {{ form.hojas.errors }}
        </div>

        <div>
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>

        <div>
            {{ form.portada.label_tag }}
            {{ form.portada }}
            {{ form.portada.errors }}
            
        </div>
        <div>
            <p>Creado por: {{ creador.username }}</p>
        </div>
        <br>
        <button type="submit">Crear Libro</button>
    </form>

    {{ form.media }}
{% endblock main %}

{% block scripts %}
    <script>
        function validateImageSize(input) {
            const maxSizeInBytes = 1024 * 1024;
            const file = input.files[0];

            if (file && file.size > maxSizeInBytes) {
                alert('La imagen es demasiado grande. Selecciona una imagen más pequeña.');
                input.value = '';
            }
        }
    </script>
{% endblock scripts %}
