{% extends "base.html" %}
{% block title_head %}
    <title>Lista de Libros</title>
{% endblock title_head %}

{% block h1_header %}
    Lista de Libros
{% endblock h1_header %}

{% block main %}
    <ul>
        {% for libro in libros %}
            <li>
                <strong><a href="{% url 'detalle_libro' libro.id %}">{{ libro.titulo }}</a></strong><br>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    <ul><a href="{% url 'libros' %}">Volver a Libros</a></ul>
{% endblock main %}